@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    /* background-color: grey; */
    background: #FAFAFA;    

}
.test-border {
    border: red solid 1px;
}
h2, h3, h4, h5{
    font-family: 'Martel', serif;
    font-weight: 700;
}
h6 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}
p {
    font-size: 14px;
    line-height: 20px;    
    letter-spacing: 0.2px;
    color: #737373;
}
h1{
    font-family: 'Martel', serif;
    font-weight: 900;
}

/* Header  */

.header .container {
    align-items: flex-start;
    padding: 80px 0px;
    gap: 80px;
    margin: 0 auto;
    height: 758px;
    top: 104px;
}
.header .col-md-6 {
    gap: 35px;
    width: 509px;
    height: 308px;
}
.header .col-md-6 h1 {
    width: 509px;
    height: 130px;
    font-size: 58px;
    line-height: 65px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.header .col-md-6 h4 {
    width: 376px;
    height: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
}
.row-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 120px;

    width: 1139px;
    height: 308px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.row-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;

    width: 1046px;
    height: 210px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.card-item-white{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 40px;
    gap: 10px;
    width: 328px;
    height: 210px;
    background: #FFFFFF;   

    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.card-item-blue{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 40px;
    gap: 10px;
    
    width: 328px;
    height: 210px;
    
    /* secondary-color-4 */
    
    background: #295C7A;
    /* SHADOW */
    
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.card-1 h3, .card-2 h3 {
    

    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    letter-spacing: 0.1px;

    /* text-color */

    color: #252B42;
}
.card-1 p, .card-2 p {
    width: 199px;
    height: 40px;

    /* paragraph */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    letter-spacing: 0.2px;

    /* second-text-color */

    color: #737373;

}
.card-3 h3 {
    

    /* h3 */

    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    letter-spacing: 0.1px;

    /* light-text-color */

    color: #FFFFFF;
}
.card-3 p {
    width: 196px;
    height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;


    letter-spacing: 0.2px;

 

    color: #FFFFFF;
}

/* col-md-- */
.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 1050px;
    left: calc(50% - 1050px/2);
}
.col-md-2 {
    display: flex;
    flex-direction: column;
}
.col-md-3 {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.col-md-4 {
    display: flex;
    flex-direction: column;

}
.col-md-6{
    display: flex;
    flex-direction: column;    

}
.col-md-7{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 600px;
    height: 24px;   

}

.col-md-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 35px;
    width: 600px;
    height: 442px;
}
.col-md-12 {
    width: 1440px;
    margin: 0 auto;
    /* border: rgb(98, 0, 255) solid 1px; */

}

/* Button */
.btn-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 347px;
    height: 48px;

}
.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 36px;
    gap: 10px;
    border: none;
}
.primary-color{
    color: #FFFFFF;
    background: #784F33;
    width: 182px;
    height: 48px;
    
}
.outline-primary-color {
    border: 1px solid #784F33;
    color: #784F33;
    width: 155px;
    height: 48px;
 
}
.blue-color{
    background: #295C7A;
    border-radius: 73.6px;
}
.btn-round {
    border-radius: 37px;
}
.btn-text {  

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;

}
.primary-color > b{
    width: 110px;
    height: 28px;
}
.outline-primary-color > b{
    width: 83px;
    height: 28px;
}

nav {
    
    position: absolute;
    width: 1322px;
    height: 104px;
    left: calc(50% - 1322px/2);
    top: 0px;
    /* border: red 1px solid ; */


}
nav ul {
    display: flex;
    list-style: none;
    width: 280px;
    justify-content: space-between;
    
    /* border: red 1px solid ; */


}
nav ul li a{
    text-decoration: none;
    color: #737373;
    text-align: center;
    letter-spacing: 0.2px;
    line-height: 24px;
    font-size: 14px;
}
.header {
    height: 866px;
    background-image: url('../images/cover.png');
    background-repeat: no-repeat;
    /* margin: 0 auto; */
}
.nav-menu {
    position: absolute;
width: 280px;
height: 24px;
left: calc(50% - 280px/2 - 162px);
top: 40px;
}
.nav-brand{
    position: absolute;
    width: 187px;
    height: 58px;
    left: calc(50% - 187px/2 - 431.5px);
    top: calc(50% - 58px/2);
}
.nav-btn {
    position: absolute;
    width: 24px;
    height: 13.71px;
    left: calc(50% - 24px/2 + 649px);
    top: 45px;
}
.nav-brand h3{
    position: absolute;
    width: 134px;
    height: 32px;
    left: 0px;
    top: 13px;

    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    letter-spacing: 0.1px;

    /* text-color */

    color: #252B42;

}

/* features Every Client Matters */
.features-1 {
    position: absolute;
    height: 526px;
    left: 0px;
    right: 0px;
    top: 866px;
    background: #fafafa;
    /* border: red solid 1px; */
    /* margin: 0 auto; */
}
.row-1-features-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 864px;
    height: 100px;
}
.row-2-features-1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: 30px;
    /* border: red solid 1px; */

}
.features-1 .container {    
    align-items: center;
    padding: 80px 0px;
    gap: 50px;

    height: auto;
    top: 0px;
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 864px;
    height: 100px;
    /* border: red solid 1px; */
}
.main-content h2 {
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;  

    letter-spacing: 0.2px;
    color: #252B42;
}
.main-content p {
    width: 468px;
    height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;

}
.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    gap: 10px;

    width: 230px;
    height: 202px;

    background: #FFFFFF;
}
.card-item h2 {
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;


    letter-spacing: 0.2px;
    color: #252B42;
}
.card-item h5 {

    width: 170px;
    height: 24px;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #737373;
}

/* features 2 Practice Advice */
.features-2 {
    position: absolute;
    height: 699px;
    left: 0px;
    right: 0px;
    top: 1392px;
    background: #FAFAFA;    
}
.features-2 .container {
    align-items: center;
    padding: 80px 0px;
    gap: 0;

    height: 692px;
    top: 0px;
}
.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 0px;
    
    width: 1050px;
    height: 190px;    
}
.row-1-features-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 864px;
    height: 100px;
}
.row-2-features-2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    width: 1049px;
    height: 342px;
}
.row-2-features-2 .col-md-3 {
    width: 240px;
    height: 321px;
    /* background-color: #737373; */
}
.row-1-features-2 .main-content p {
    width: 431px;

}
.row-2-features-2 .col-md-3 .card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 0;

    width: 230px;
    height: 341px;

    background: #FFFFFF;
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 15px;

    width: 232px;
    /* height: 203px; */
}
.card-content h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    flex: none;
    width: 125px;
    height: 48px;
    text-align: left;
    
}

.card-image {
    width: 230px;
    height: 138px;
    align-self: stretch;
    position: relative;
}
.card-image > img {
    position: absolute;
    height: 138px;
    left: 0px;
    right: 0px;
    top: 0px;
    
}

/* About */
.about {
    position: absolute;
    height: 890px;
    left: 0px;
    right: 0px;
    top: 2149px;
    margin: 0 auto;

    background: #FFFFFF;
}
.about .container {
    align-items: flex-start;
    padding: 100px 0px;
    gap: 100px;

    height: 847px;
    top: 0px;
}
.row-1-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    align-self: center;
    width: 864px;
    height: 105px;
}
.row-2-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 120px;
    
    width: 1053px;
    height: 442px;
    
    flex: none;
    order: 1;
    align-self: flex-start;
    flex-grow: 0;
}
.row-2-about .col-md-4 {
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    width: 333px;
    height: 424px;
}
.row-2-about .col-md-8 .card-item {
    box-sizing: border-box;
    width: 597px;
    height: 442px;
    position: relative;

    /* background: #FFFFFF; */
    background: #c7acac;
    border: 1px solid #DEDEDE;
    /* border-radius: 5px; */
    background: url('../images/cover\ \(5\).png');


}
.row-2-about .card-item .card-image {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;    
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
    z-index: 99;

}
.row-2-about .card-item .card-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 34.8px 36.8px;

    position: absolute;
    width: 97.6px;
    height: 98.4px;
    left: calc(50% - 97.6px/2 + 0.3px);
    top: calc(50% - 98.4px/2 + 0.2px);

    z-index: 999;
}
.row-2-about .col-md-4 .card-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px;
    gap: 10px;

    width: 321px;
    height: 210px;
}
.row-2-about .col-md-4 .card-title h2{
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;

}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 325px;
    height: 77px;
}
.flex-row .text h5 {
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: #252B42;
}

/* Clients */
.clients {
    position: absolute;
    height: 339px;
    left: 0px;
    right: 0px;
    top: 3039px;
    margin: 0 auto;

    background: #FAFAFA;
}
.clients .clients-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1050px;
    height: 175px;
    left: calc(50% - 1050px/2);
    top: 0px;
}
.row-1-clients {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 0px;
    gap: 30px;
    width: 1054px;
    height: 175px;
}
.row-1-clients .col-md-2 {
    align-items: center;
    width: 153px;
    height: auto;
}
.clients .clients-input-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;

    position: absolute;
    width: 1050px;
    height: 164px;
    left: calc(50% - 1050px/2);
    top: 175px;
    
}
.row-2-clients {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: 986px;
    height: 124px;

}
.row-2-clients .card-item{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 50px;

    width: 986px;
    height: 124px;

    /* background-gradient-1 */

    background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
    border-radius: 2px;
    z-index: 15;

}
.row-2-clients .card-item .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 180px;

    width: 883px;
    height: 64px;
}
.row-2-clients .card-item .flex-row h3{

    width: 253px;
    height: 64px;

    /* h3 */

    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    letter-spacing: 0.1px;

    /* light-text-color */

    color: #FFFFFF;
}
.row-2-clients .card-item .flex-row .input-group{
    width: 450px;
    height: 58px;
    position: relative;
}
.row-2-clients .card-item .flex-row .btn-input{
    position: absolute;
    width: 117px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.row-2-clients .card-item .flex-row .btn-input button{
    box-sizing: border-box;

    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    /* primary-color */

    background: #D0A144;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;

    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */

    text-align: center;
    letter-spacing: 0.2px;

    /* light-text-color */

    color: #FFFFFF;
}
.row-2-clients .card-item .flex-row .input-group > input{
    box-sizing: border-box;
    padding: 15px 0 15px 20px;

    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}

.clients-backgroung {
    position: absolute;
    width: 1440px;
    height: 77px;
    left: 0px;
    top: 262px;
    z-index: 10;

}
.clients-background .filter {
    position: absolute;
    visibility: hidden;
    width: 1440px;
    height: 77px;
    left: 0px;
    top: 262px;

    background: rgba(0, 0, 0, 0.5);
    
}
.clients-backgroung .cover {
    position: absolute;
    height: 77px;
    left: 0px;
    right: 0px;
    top: 0px;

    /* dark-background-color */

    background: #252B42;
}

/* Contect */
.contect {
    position: absolute;
    height: 808px;
    left: 0px;
    right: 0px;
    top: 3378px;
    margin: 0 auto;

    background: #F3F3F3;
}
.contect .container {
    align-items: center;
    padding: 80px 0px;
    gap: 80px;

    height: 733px;
    top: 0px;
}
.row-1-contect {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    align-self: center;
    width: 864px;
    height: 105px;
}
.row-2-contect {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: 985px;
    height: 393px;
}
.row-2-contect .col-md-4 .card-item{
    padding: 50px 40px;
    gap: 15px;
    width: 328px;
    height: 333px;

    background: #FFFFFF;
    
}
.row-2-contect .col-md-4 .card-item h6, .row-2-contect .col-md-4 .card-item h5 {
    text-align: center;
    color: #252B42;
}
.row-2-contect .col-md-4 .card-item button {
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    width: 154px;
    height: 44px;
    border: 1px solid #D0A144;
    border-radius: 5px;
    background-color: inherit;
}
.row-2-contect .col-md-4 .card-item button h6 {
    width: 114px;
    height: 24px;
    text-align: center;
    letter-spacing: 0.2px;

    /* primary-color */

    color: #D0A144;
}

#center .card-item{
    padding: 80px 40px;
    gap: 15px;

    width: 328px;
    height: 393px;

    /* dark-background-color */

    background: #252B42;
}
#center .text-white-center h6, #center h5 {
    color: #FFFFFF;

}
.row-2-contect .col-md-4 {
    width: 327px;
    height: 333px;
}
#center {
    width: 329px;
    height: 393px;
}

/* Footer */
.footer {
    position: absolute;
    height: 488px;
    left: 0px;
    right: 0px;
    top: 4186px;
    margin: 0 auto;

    background: #FAFAFA;
}
.footer-1 {
    position: absolute;
    height: 142px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #FAFAFA;
}
.footer-1 .container {
    align-items: flex-start;
    padding: 40px 0px;

    height: 142px;    
    top: 0px;
}
.footer-1 .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 360px;
    height: 62px;
}
.footer-1 .row .col-md-6 {
    align-items: flex-start;
    gap: 10px;    
}
.f-left{
    width: 454px;
    height: 62px;
    
}
.f-right{
    width: 236px;
    height: 58px;
    
}
.f-left h3 {
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
}
.f-right button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 40px;
    gap: 10px;
    border: none;
    width: 158px;
    height: 58px;
    background: #784F33;
    border-radius: 5px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;

}
.footer-2 {
    position: absolute;
    height: 272px;
    left: 0px;
    right: 0px;
    top: 142px;
    color: #FFFFFF;
    background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
}
.footer-2 > .container {
    align-items: flex-start;
    padding: 50px 0px;
    height: 270px;
    top: 0px;
    
}
.footer-2 > .container > .row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    width: 1041px;
    height: 170px;
}
.footer-2 > .container > .row > .col-md-2 {
    align-items: flex-start;
    gap: 20px;
    width: 148px;
    height: 170px;
}
.footer-2 > .container > .row > .col-md-4 {
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    
    width: 321px;
    height: 152.5px;
}
.footer-2 .footer-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 93px;
    height: 126px;
}
.footer-2 h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.1px;

    /* light-text-color */

    color: #FFFFFF;
}
.footer-2 > .footer-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 239px;
    height: 108.5px;
}
.footer-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 239px;
    height: 108.5px;
}
.footer-icon h6 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.2px;

    /* light-text-color */

    color: #FFFFFF;
}
.footer-icon > .footer-icon-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 239px;
    height: 29.25px;
}
.footer-link a {
    width: 136px;
    height: 24px;

    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: #FFFFFF;
}
.footer-3 {
    position: absolute;
    height: 74px;
    left: 0px;
    right: 0px;
    top: 414px;

    background: #FAFAFA;
}
.footer-3 .container {
    padding: 25px 0px;
    width: 1050px;
    height: 74px;
}
.footer-3 .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 213px;

    width: 1049px;
    height: 24px;
}
.footer-3 .col-md-6 {
    align-items: center;
    width: 236px;
    height: 24px;
}
.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    justify-content: space-between;   

    width: 156px;
    height: 24px;

}