body{
    margin: 0 auto ;
    padding:0 auto;
<<<<<<< HEAD
    background: #FFFFFF;
=======
    font-family: 'Martel', serif;
    
>>>>>>> b2e287a3103eb1a7473929ec51df0c69a0bc5d22
}
h3{
    /* h3 */
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    /* identical to box height, or 133% */
    letter-spacing: 0.1px;

    /* text-color */
    color: #252B42;
}
a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    text-align: center;
    letter-spacing: 0.2px;
    
    /* second-text-color */
    
    color: #737373;
}
.Hearder-8{
    position: absolute;
    height: 866px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #FAFAFA;
}
.navbar-style-1{
    /* navbar-style-1 navbar-light */
    position: absolute;
    width: 1322px;
    height: 104px;
    left: calc(50% - 1322px/2);
    top: 0px;
    background-color: #a0d9ff;

}
/* .collapse {

} */
.navbar-collapse{
    /* collapse navbar-collapse */
    position: absolute;    
    width: 280px;
    height: 24px;
    left: calc(50% - 280px/2 - 162px);
    top: 40px;
    /* align-items: center; */
    

}
.navbar-nav{   

    position: absolute;
    width: 280px;
    height: 24px;
    left: calc(50% - 280px/2);
    top: calc(50% - 24px/2);

    /* background-color: slateblue; */

}
.navbar-nav ul{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 21px;
    /* border: wheat solid 1px; */
    list-style: none;
    justify-content: space-between;
}
.navbar-nav ul li a{
    text-decoration: none;
}
.navbar-brand{
    /* navbar-brand */
    position: absolute;
    width: 187px;
    height: 58px;
    left: calc(50% - 187px/2 - 431.5px);
    top: calc(50% - 58px/2);
}
.navbar-toggler{
    /* navbar-toggler */
    position: absolute;
    width: 24px;
    height: 13.71px;
    left: calc(50% - 24px/2 + 649px);
    top: 45px;
}
.navbar-toggler-icon{
    /* navbar-toggler-icon */
    position: absolute;
    width: 24px;
    height: 13.71px;
    left: calc(50% - 24px/2);
    top: 0px;
}
.background{
    position: absolute;
    height: 752px;
    left: 0;
    right: 0;
    top: 0;
}
.Header{
    position: absolute;
    height: 866px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #FAFAFA;
}
.cover{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background: url('images/cover.png');
    

}
.filter{
    position: absolute;
    visibility: hidden;
    width: 1440px;
    height: 793px;
    left: 0px;
    right: 0px;

    background: rgba(0, 0, 0, 0.5);
}
.navbar-style-1 .navbar-light{
    position: absolute;
    width: 1322px;
    height: 104px;
    left: calc(50% - 1322px/2);
    top: 0px;
}
.collapse .navbar-collapse{
    position: absolute;
    width: 280px;
    height: 24px;
    left: calc(50% - 280px/2 - 162px);
    top: 40px;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 21px;

    position: absolute;
    width: 280px;
    height: 24px;
    left: calc(50% - 280px/2);
    top: calc(50% - 24px/2);
}
